[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
requests = "*"
eventlet = "*"
flask-socketio = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-security = "*"
flask-login = "*"
rauth = "*"

[dev-packages]
