#output .msg {
    display: inline-block;
    float: right;
    padding: 5px 8px;
    border-radius: 3px;
    background-color: #ccc;
    margin: 5px;
}

#output .msg.other {
    float: left;
    background-color: #2E7D32;
    color: white;
}

#output {
    height: 600px;
    overflow-y: auto;
    margin-bottom: 15px;
}

#gifs {
    display: none;
    position: absolute;
    width: 500px;
    height: 300px;
    overflow-y: auto;
    z-index: 25;
    text-align: center;
}

#gifs img {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    max-width: 70px;
    cursor: pointer;
}

#gif-button {
    pointer-events: initial;
    cursor: pointer;
}

nav.level:not(:last-child) {
    font-size: 1.4em;
    margin-bottom: 0;
}

.bg-img { 
    background: url(../smoky_mountains.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
 }
