* {
    font-family: 'Raleway', sans-serif;
}

#output .msg {
    display: inline-block;
    float: right;
    padding: 5px 8px;
    border-radius: 3px;
    background-color: #ccc;
    margin: 5px;
}

#output .msg.other {
    float: left;
    background-color: #2E7D32;
    color: white;
}

#output {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 15px;
}

#output .meta {
    color: #888;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 5px;
}

#gifs {
    display: none;
    position: absolute;
    width: 500px;
    height: 300px;
    overflow-y: auto;
    z-index: 25;
    text-align: center;
}

#gifs img {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    max-width: 70px;
    cursor: pointer;
}

#gif-button {
    pointer-events: initial;
    cursor: pointer;
}

nav.level:not(:last-child) {
    font-size: 1.4em;
    margin-bottom: 0;
}

