html, body, .content, .bg-img {
    height: 100%;
    overflow-y: auto;
}

.content {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 96px;
}

.bg-img {
    background: url(../smoky_mountains.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
}
