# IBM Watson API - https://www.ibm.com/watson/developer/
IBM_USER = ""
IBM_PW = ""

# Facebook API - https://developers.facebook.com/
FB_TOKEN = ""
FB_ID = ""
FB_SECRET = ""

# RevSpeech API - http://docs.rev.ai/en/latest/
REVSPEECH_KEY = ""

# Giphy API - https://developers.giphy.com/
GIPHY_KEY = ""

FLASK_SECRET = ""
