<!doctype html>
<html>
    <head>
        <title>Core</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/css/messenger.min.css" integrity="sha256-s9TkqCOAYSX0OL0SFkn9uuNWdDLIXKMUV0ZICMxDBC8=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/css/messenger-theme-future.min.css" integrity="sha256-m1IZSnXUbZcGUBF1o2+RGqtlRd5COHrl/hSHHjvCL9E=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

        {% block css %}{% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@3.0.0/dist/js/bulma-extensions.min.js" integrity="sha256-q4zsxO0fpPm6VhtL/9QkCFE5ZkNa0yeUxhmt1VO1ev0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/js/messenger.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/js/messenger-theme-flat.min.js" integrity="sha256-9+mTJjBhIGZ4XBX9mjU8hBuIwNMLwBibBCKR1HVoAi8=" crossorigin="anonymous"></script>

        <script src="{{ url_for('static', filename='js/base.js') }}"></script>

        {% block js %}{% endblock %}
    </head>
    <body>
        <nav class="level">
            <p class="level-item has-text-centered">
            <a href="/chat" class="link is-info">Chat</a>
            </p>
            <p class="level-item has-text-centered">
            <a href="/resources" class="link is-info">Resources</a>
            </p>
            <p class="level-item has-text-centered">
            <a href="/"><img src="{{ url_for('static', filename='favicon.png') }}" alt="" style="height: 70px; margin-top: 8px; margin-bottom: 8px"></a>
            </p>
            <p class="level-item has-text-centered">
            <a href="/account" class="link is-info">Account</a>
            </p>
            <p class="level-item has-text-centered">
            <a href="#" onclick="event.preventDefault(); $.post('/logout').done(function() { window.location.href='/'; });">Logout</a>
            </p>
        </nav>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
