<!doctype html>
<html>
    <head>
        <title>Core</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    </head>
    <body>
        <nav class="level">
            <p class="level-item has-text-centered">
            <a href="/chat" class="link is-info">Chat</a>
            </p>
            <p class="level-item has-text-centered">
            <a href="/resources" class="link is-info">Resources</a>
            </p>
            <p class="level-item has-text-centered">
            <a href="/"><img src="{{ url_for('static', filename='favicon.png') }}" alt="" style="height: 70px; margin-top: 8px; margin-bottom: 8px"></a>
            </p>
            <p class="level-item has-text-centered">
            <a class="link is-info">Account</a>
            </p>
            <p class="level-item has-text-centered">
            <a href="/help" class="link is-info">Help</a>
            </p>
        </nav>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
