{% extends "base.html" %}

{% block content %}
<div class="box" style="height: 100%; max-width: 800px; margin: 0 auto">
    <h1>Confidential Chat</h1>
    <hr />
    <div id="output">
        <div class="is-clearfix"><span class="msg">Hello there!</span></div>
        <div class="is-clearfix"><span class="msg other">Hello there!</span></div>
        <div class="is-clearfix"><span class="msg">Hello there!</span></div>
    </div>
    <input class="input" id="input" placeholder="Type here and press enter..." />
</div>
{% endblock %}
