{% extends "base.html" %}

{% block js %}
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}

{% block content %}
<div class="box" style="height: 100%; max-width: 800px; margin: 0 auto">
    <div class="is-clearfix">
        <h1 class="is-pulled-left">Confidential Chat</h1>
        <span style="color:#888" class="is-pulled-right">You are chatting with <b id="partner">Unknown</b></span>
    </div>
    <hr />
    <div id="output">
        <div class="is-clearfix"><span class="msg">Hello there!</span></div>
        <div class="is-clearfix"><span class="msg other">Hello there!</span></div>
        <div class="is-clearfix"><span class="msg">Hello there!</span></div>
    </div>
    <div class="control has-icons-right">
        <input class="input" id="input" placeholder="Type here and press enter..." />
        <span id="gif-button" class="icon is-small is-right">
            <i class="fa fa-image"></i>
        </span>
    </div>
</div>
<div id="gifs" class="box"></div>
{% endblock %}
