<!doctype html>
	<head>
		<title>Core</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
	</head>
	<body>
		<nav class="hero is-info is-fullheight">
			<div class="hero-body">
				<div class="container has-text-centered">
					<img src="../static/core_summit_logo.png" alt="" style="height: 200px;">
	    		</div>
            </div>
            <div class="hero-foot" style="margin-bottom: 150px">
            	<nav class="level">
            		<div class="level-item has-text-centered">
            		</div>
					<div class="level-item has-text-centered">
						<div>
							<a class="button is-large is-primary is-inverted is-outlined">Learn More</a>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
							<a class="button is-large is-primary is-inverted is-outlined">Join Us</a>
						</div>
					</div>
					<div class="level-item has-text-centered">
            		</div>
				</nav>
            </div>
  		</nav>

	</body>
</html>