{% extends "base.html" %}

{% block content %}
<section class="hero is-info is-bold" style="margin-top: 0px; margin-bottom: 0px; padding-left: 0px; padding-right: 0px">
	<div class="container" margin style="padding-top: 150px; padding-bottom: 150px; padding-left: 0px; padding-right: 0px">
	<div class="columns" style="padding-left: 80px; padding-right: 80px">
		<div class="column is-one-third">
			<img src="{{ url_for('static', filename='favicon.png') }}" alt="" style="height: 250px; min-width: 218px; margin-left: 50px; margin-right: 50px; padding-top: 0px; margin-top: -20px"/>
		</div>
		<div class="column">
			<h1 style="text-align: center; color: white; font-size: 3em">We at <img src="{{ url_for('static', filename='core_logo.png') }}" alt="Core" style="height: 33px"/> are a community working together to fight America's drug crisis</h1>
		</div>
	</div>
</section>
<div style="margin-bottom: 0px; margin-left:0px; margin-right: 0px; padding-left: 200px; padding-right:200px; background-color: white">
	<div class="columns" style="padding-top: 100px; padding-bottom: 100px">
		<div class="column is-two-fifths">
			<h2 style="text-align: center">Are you working to overcome drug dependency or addiction?  Could you use someone to talk to?</h2>
		</div>
		<div class="column">
			<p></p>
		</div>
		<div class="column is-two-fifths">
			<h2 style="text-align: center">Or are you looking for a meaningful volunteer experience where every minute of your time counts?</h2>
		</div>
	</div>
</div>
<section class="hero is-info is-bold" style="padding-bottom: 100px">
	<h1 style="text-align: center; color: white; font-size: 3em; padding-left: 200px; padding-right: 200px; padding-top: 100px; padding-bottom: 20px">Join us!  We match individuals on the path to recovery with compatible mentors who can offer a change of perspective.</h1>
	<div style="text-align: center">
		<a class="button is-large is-info is-inverted is-outlined" href="/login" style="max-width: 160px">Join Now</a>
	</div>
</section>
{% endblock content %}