{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock css %}

{% block content %}
<div class="bg-img">
    <nav style="margin: auto; max-width: 250px">
        <div class="field">
            <label class="label" style="margin-bottom: 0px">Username</label>
            <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Username">
                <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label" style="margin-bottom: 0px">Password</label>
            <div class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                </span>
            </div>
        </div>
        <button type="submit" class="button is-success">Login</button>
    </nav>
</div>
{% endblock content %}
