{% extends "base.html" %}

{% block content %}
<div style="text-align:center;margin-top:20vh;">
    <div style="max-width:30em;margin-left:auto;margin-right:auto;">
        <p>Thanks for signing in! Complete your registration below.</p>
        <form method="post">
            <div class="field">
                <input class="input is-primary" type="text" name="displayname" placeholder="Display Name" required>
            </div>
            <div class="field">
                <label class="radio">
                    <input type="radio" name="role" value="mentee" required>
                    Mentee
                </label>
                <label class="radio">
                    <input type="radio" name="role" value="mentor" required>
                    Mentor
                </label>
            </div>
            <div class="field">
                <button class="button is-link">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
