{% extends "base.html" %}

{% block content %}
<section class="bg" style="background-color: #116faf">
	<h1 style="text-align: center; color: white; padding-left: 100px; padding-right: 100px; padding-top: 40px; margin-bottom: 15px">Opioid Dependency and Addiction Resources</h1>
	<div class="tile is-ancestor" style="padding-left: 100px; padding-right: 100px">
		<div class="tile is-12 is-parent">
			<div class="tile is-child box">
				<p class="title"><a href="https://www.drugabuse.gov/publications/effective-treatments-opioid-addiction/effective-treatments-opioid-addiction">Medication-Assisted Treatment</a></p>
				<p>Medication-Assisted Treatment for opioid dependency has been shown to decrease opioid use and deaths from overdose as well as improve social functioning and treatment adherence.  Medication-Assisted Treatment undertaken during pregnancy also reduces the occurance of neonatal abstinence syndrome in newborns.  Though Medication-Assisted Treatment is effective and beneficial for a lot of people, less than half of individuals seeking treatment for opioid dependence receive medication.  Consider whether you would like to talk to a physician about seeking Medication-Assisted Treatment.</p>
			</div>
		</div>
	</div>
	<div class="tile is-ancestor" style="padding-left: 100px; padding-right: 100px">
		<div class="tile is-7 is-vertical is-parent">
			<div class="tile is-child box">
				<p class="title"><a href="https://www.samhsa.gov/medication-assisted-treatment/treatment/naltrexone">Naltrexone</a></p>
				<p>Naltrexone can be prescribed by any healthcare professional with the ability to prescribe medications.  It can be taken daily in pill form, or monthly as an injection.  Naltrexone works by blocking opioid receptors, decreasing the euphoric and sedative effects of opioids.  Individuals must completely stop using opioids for 7-10 days before starting on naltrexone.</p>
				
			</div>
			<div class="tile is-child box">
				<p class="title"><a href="https://www.samhsa.gov/medication-assisted-treatment/treatment/buprenorphine">Buprenorphine</a></p>
				<p>Buprenorphine can be prescribed or dispensed by qualified physicians outside of a clinic setting.  Buprenophine medication often also includes <a href="https://www.samhsa.gov/medication-assisted-treatment/treatment/naloxone">naloxone</a> to reduce the potential for misuse.  It comes in films or tablets which dissolve on the inside of the cheek or under the tongue.  Buprenophine acts by activating opioid receptors, but to a lesser extent than many commonly abused opioids.  In this way, it reduces or eliminates withdrawal symptoms.  Individuals should abstain from using opioids for 24-48 hours before starting buprenophine treatment.</p>
				<div style="text-align: right">
					<a class="button is-dark" href="https://www.samhsa.gov/medication-assisted-treatment/physician-program-data/treatment-physician-locator" style="margin:auto">Locate Prescribers</a>
				</div>
			</div>
		</div>
		<div class="tile is-parent">
			<div class="tile is-child box">
				<p class="title"><a href="https://www.samhsa.gov/medication-assisted-treatment/treatment/methadone">Methadone</a></p>
				<p></p>
			</div>
		</div>
	</div>
</section>
{% endblock content %}